<p>This image host was mainly done for fun and there are no guarantees that it will keep running for many years. You should not use it to store imortant pictures. At least for now. The software is open source under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT license</a>. Source code is found on <a href="https://bitbucket.org/oscarfroberg/webpy-imagehost/src">Bitbucket</a></p>
