<p>You can transload images from other sites using the API. Usage:</p>
<p>http://asparg.us/api/upload/?url=URL</p>
<p>I've also made a Chrome extension enabling easy transloading to Imgur or asparg.us through right-clicking the image. Download it <a href="https://bitbucket.org/oscarfroberg/transloader/src">here</a>, go to chrome://extensions, enable Developer mode, from there Load unpacked extension and browse to the directory where you downloaded the extension. I have no intention of adding the extension to the Web Store at this point so this will have to do for now.</p>
