$def with (imageurl)
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/style.css" />
<link rel="image_src" href="$imageurl" />
</head>
<!--<a href="$imageurl" class="fullsize"><img class="share" src="$imageurl"></a>-->
<a href="$imageurl" class="zoom"><img src="$imageurl"></a>
