$def with (imageurl, forumlink, fburl)

<div id="links">
<div class="label">Direct URL: </div><input type="url" value="$imageurl" onClick="this.select();"></input><br />
<div class"label">BBCode (forums): </div><input type="url" value="$forumlink" onClick="this.select();"></input><br />
<div class"label">Facebook (shows thumbnail when shared): </div><input type="url" value="$fburl" onClick="this.select();"></input><br /><br />
</div>
<div id="imagebox">
<a href="$imageurl"><img src="$imageurl" width="300"></a>
</div>
<form method="POST" action="/" enctype="multipart/form-data">
<input type="submit" name="delete" value="Delete $imageurl" class="button"></input>
</form>

