<p>Max file size 5 MB</p>
<form method="POST" enctype="multipart/form-data" action="">
<input type="file" name="myfile" id="choose" required />
<br />
<input type="submit" class="button" value="Upload"/>
<br />
</form>
<br /><br />
<p class="smallprint">Experimental multiupload at <a href="http://asparg.us/multi">http://asparg.us/multi</a>. There are still bugs but it should work ok.</p>
<br /><br />
<p class="smallprint"><strike>Notice: At the moment you can only upload one image at a time. I have a solution ready for multiple file upload (through another project) and will deploy it here when I find the time. No ETA though.</strike></p>
