$def with (imagelist, notification)

<div id="notification">$notification</div>

$for img in imagelist:
    <div class="links">
    <div class="label">Direct URL: </div><input type="url" value="$img['direct']" onClick="this.select();"></input><br />
    <div class"label">BBCode (forums): </div><input type="url" value="$img['forumlink']" onClick="this.select();"></input><br />
    <div class"label">Facebook (shows thumbnail when shared): </div><input type="url" value="$img['fburl']" onClick="this.select();"></input><br /><br />
    </div>
    <div class="imagebox">
    <a href="$img['direct']"><img src="$img['direct']" width="300"></a>
    </div>
    <form method="POST" action="/multi" enctype="multipart/form-data">
    <input type="hidden" name="hidden" value="$:imagelist" />
    <input type="submit" name="delete" value="Delete $img['direct']" class="button"></input>
    </form>

