<p>Max file size 5 MB</p>
<form method="POST" enctype="multipart/form-data" action="/multi">
<label class "addform">Upload images: </label><input type="file" name="filedata" multiple="multiple" id="uploadimage" required><br />
<input type="submit" class="button" value="Upload"/>
<br />
</form>
<br /><br />
<p class="smallprint">Experimental multiupload implemented (uploading of multiple files). There are a few hickups (bugs!) which I haven't had the time to sort out but it should work ok most of the time.</p>
