@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f9f9f9;
  color: #191919;
  font: 16px/1.35 "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.centered {
  width: 400px;
  margin: 0 auto;
}

.label {
}

input {
  width: 300px;
}

#imagebox {}

#choose {
}

.button {
  padding: 10px;
  margin-top: 20px;
}

h1 {
  margin: 0;
  padding: 10px 0 0 0;
}

.header {
  text-decoration: none;
}

.smallprint {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.8em;
  width: 300px;
}

#privacy {
  margin: 10 0 0 0;
  padding: 0;
  font-size: 0.9em;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.share {
  max-width: 100%;
  max-height: 100%;
}

#header {
  margin: 0 0 10px 0;
}

#footer {
  margin-top: 50px;
}
